@using ASP.NET.Projet.Models
@model EleveViewModel

<h2>Fiche eleve</h2>

<!-- Identité -->
<h4>@Model.Identite</h4>

<!-- Notes -->
<table>
    <tr>
        <th>Notes</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>@Model.Notes</td>
        <td><button>Modifier</button></td>
    </tr>
</table>

<!-- Absences -->
<table>
    <tr>
        <th>Identité</th>
    </tr>
    <tr>
        <td>@Model.Absences</td>
    </tr>
</table>