@using ASP.NET.Projet.Models
@model List<EleveViewModel>

<h2>Liste des eleves</h2>

<table>
    <tr>
        <th>Identité</th>
        <th>Action</th>
    </tr>
    @foreach (var eleve in Model)
    {
        <tr>
            <td>@eleve.Identite</td>
            <td><input type="button" value="Detail" onclick="location.href='@Url.Action("DetailEleve", "Home",  new { idEleve = eleve.ID })'" /></td>
        </tr>
    }
</table>